@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&family=Merienda+One&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1296px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    background: #5ED4BF;

    .container {
        padding-top: 2%;
        display: grid;
        grid-template-columns: 10% 1fr 39.75%;

        nav {
            grid-column: 3/4;
            padding-top: 1%;

            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 24%;

                li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        font-family: 'Heebo';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 29px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

main {
    .about {
        padding-top: 8%;
        background: #5ED4BF;

        .container {
            padding-bottom: 25.5%;
            background: url(assets/girlyoga.png) no-repeat 72% 100%, url(assets/fon.png) no-repeat 43% 100%;

            h1 {
                margin-bottom: 3%;
                font-family: 'Merienda One';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 130%;
                text-align: center;
                color: #FFFFFF;
            }

            p {
                margin: 0 auto;
                max-width: 759px;
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                text-align: center;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .features {
        .container {
            padding-top: 6%;
            padding-bottom: 9%;
            background: url(assets/BoyYoga.png) no-repeat 88.5% 8%, url(assets/Girl.png) no-repeat 8% 100%;

            ul {

                li {
                    list-style-image: url(assets/leafIconYoga.svg);
                    // list-style-type: none;
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                    align-items: center;
                    text-align: justify;
                    color: #595959;
                }
            }

            .top {
                display: flex;
                flex-direction: column;
                align-items: start;

                h2 {
                    margin-bottom: 2%;
                    font-family: 'Merienda One';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 35px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.8);
                }

                ul {
                    padding-left: 4%;

                    li {
                        max-width: 681px;

                        &:not(:last-child) {
                            margin-bottom: 5%;
                        }
                    }
                }
            }

            .bottom {
                margin-top: 7.5%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                ul {
                    li {
                        max-width: 746px;

                        &:not(:last-child) {
                            margin-bottom: 4.5%;
                        }
                    }
                }
            }
        }
    }

    .info {
        background: #DDF2EF;

        .bg {
            padding-bottom: 6.5%;
            background: url(assets/Mandala.png) no-repeat 100% 150%;

            .container {
                padding-top: 6.5%;

                .prices {
                    .cards {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 12%;

                        &__item {
                            border: 1px solid #000000;
                            box-shadow: 0px 0px 35px -7px rgba(0, 0, 0, 0.65);
                            border-radius: 25px;
                            display: flex;
                            flex-direction: column;

                            .text {
                                border-radius: 25px 25px 0px 0px;
                                background: #FFFFFF;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding-bottom: 20%;

                                img {
                                    margin-top: 17%;
                                }

                                h3 {
                                    margin-top: 12%;
                                    font-family: 'Heebo';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 24px;
                                    line-height: 35px;
                                    text-align: center;
                                    color: #000000;
                                }

                                p {
                                    margin-top: 3%;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 20px;
                                    line-height: 24px;
                                    text-align: center;
                                    color: #000000;
                                }
                            }

                            .price {
                                padding-top: 10%;
                                padding-bottom: 10%;
                                border-radius: 0px 0px 25px 25px;
                                background: #5ED4BF;

                                p {

                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 20px;
                                    line-height: 24px;
                                    text-align: center;
                                    letter-spacing: 0.1em;
                                    font-feature-settings: 'ss01' on;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                }

                .location {
                    margin-top: 13.5%;
                    display: flex;
                    justify-content: start;

                    .adress {
                        margin-right: 6.5%;

                        p {
                            padding-left: 2%;
                        }
                    }

                    h3 {
                        margin-bottom: 18%;
                        font-family: 'Merienda One';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 130%;
                        color: #000000;
                    }

                    p {
                        font-family: 'Heebo';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        color: #828282;
                    }

                }
            }
        }
    }
}

footer {
    background: #5ED4BF;

    .container {
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            padding-bottom: 3%;
            margin: 0 auto;
        }

        ul {
            width: 50%;
            padding-bottom: 3%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 33%;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                    color: #FFFFFF;
                }
            }
        }
    }
}